.cards{
  margin-top: 98px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  border: none;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 10%;
}
.cards a{
    color: black;
    text-decoration: none;
}
.card-product {
  overflow: hidden;
  height: 10rem;
  background: whitesmoke;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 2rem;
  text-align: start;
}
.card-product-infos .action {
  padding-top: 1rem;
}
