.item{
  height: calc(100% - 98px);
  text-align: center;
  align-items: center;
  margin-top: 66px;
}
.create {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

}

.form {
  width: 90%;
  background-color: whitesmoke;
  border: 1px solid grey;
  padding: 4rem 4rem;
  border-radius: 15px;
}
