.post {
  margin-top:calc(7% - 66px);
  margin-left: 2rem;
  margin-right: 2rem;
  h2 {
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
  }
}
.article {
  display: flex;
  border: 1px solid grey;
  border-radius: 10px;
}
.attachment{
width: 50%;
  .text{
    padding: 1rem;
  }
}

.attachment img{
  width: 100%;
  border-top-left-radius: 10px ;
}
.container {
  width: 50%;
  padding-right: 0;
}
.comment_container{
  padding: 1rem 0rem 1rem 1rem;
  overflow: auto;
  max-height: 500px;
}
